@CHARSET "ISO-8859-1";

/* -----------------------------------------
To take care of all browser compatibility.
--------------------------------------------*/
*{
	margin: 0px;
	padding: 0px;		
}

header, section, footer, aside, nav, article, hgroup{
	display: block;
} 

	 
/* Resets */
ul {
    padding:0;
    margin:0 0 20px 0;
    list-style:none;
}
h1, h2 {
    padding:0;
    margin:0 0 20px 0;
    font-weight:normal;
}
p {
    padding:0;
    margin:0 0 20px 0;
}
a:visited {
	 color:#000;
}
a:hover {
    text-decoration:none;
}
ul li {
    padding:15px 0;
}
ul li input[type="text"], ul li input[type="password"] {
    width:200px; 
}
.reg {
	background-color: #f2f0bd; 
	display: inline-block;
	width:200px;
}
.reg2{
	width:200px;
	background-color: #f2f0bd;
	height:100px;
}
/* ------------------------------
textarea styles
------------------------------ */	
textarea {
	width:260px;
	height:400px;
	resize: none;
}

textarea.infor2{
	background: #ffffff;
	pointer-events: none;
	width:  200px;
	float: left;
	margin-top: 30px;
	box-shadow: 0 0 6px #666 inset;
	padding: 7px 10px;
	height:100px;
}
.title1 {
    background: url('../image/title_icon.jpg') no-repeat scroll right center #FFFFFF;
    border: 1px solid #666;
	box-shadow: 0 0 6px #666 inset;
	color: #333;
	float: left;
	padding: 7px 10px;
	width: 200px;
	outline: none; 
}
.personalNote {
	width: 800px;
}
/* ------------------------------
For Personal Notes Styling
------------------------------ */
div.fieldSet {
	border: solid black thin;
	width: 500px;
	min-height:500px;
	background-color: #ffffb0;
}
fieldSet {
	border: none;
	margin: 0 0 0 -1px;
	padding: 0;
}
legend {
	font-size: 20px;
	background-color: green;
	color: white;
	width: 98%;
	padding: 5px;
}
label.field {
	text-align: right;
	width: 100px;
	float: left;
	font-weight: bold;
	margin-top: 30px;
}
input.textbox1 {
	margin-top: 30px;
	background: url('../image/title_icon.jpg') no-repeat scroll right center #FFFFFF;
    border: 1px solid #666;
	box-shadow: 0 0 6px #666 inset;
	color: #333;
	float: left;
	padding: 7px 10px;
	width: 300px;
	outline: none; 
}
input.infor {
	margin-top: 20px;
    border: 1px solid #666;
	box-shadow: 0 0 6px #666 inset;
	color: #333;
	float: left;
	padding: 7px 10px;
	width: 200px;
	pointer-events: none; 
	outline: none; 
}
input.textbox2 {
	margin-top: 30px;
	background: url('../image/date_icon.jpg') no-repeat scroll right center #FFFFFF;
    border: 1px solid #666;
	box-shadow: 0 0 6px #666 inset;
	color: #333;
	float: left;
	width: 300px;
	padding: 7px 10px;
	outline: none; 
}
input.textbox3{
    margin-top: 30px;
	background: url('../image/date_icon.jpg') no-repeat scroll right center #FFFFFF;
    border: 1px solid #666;
	box-shadow: 0 0 6px #666 inset;
	color: #333;
	float: left;
	width: 300px;
	padding: 7px 10px;
	pointer-events: none;
	outline: none;
} 
textarea.textbox-300 {
	width: 300px;
	float: left;
	margin-top: 30px;
	box-shadow: 0 0 6px #666 inset;
	padding: 7px 10px;
	height:150px;
}
fieldset p {
	clear: both;
	padding: 5px;
}

.notebutton {
	margin-top: 30px;
	float: left;
	margin-left: 150px;
}
.recordbutton {
	margin-top: 30px;
	margin-left: 150px;
	padding:20px;
	
}
/* Headers */
h1 {
    font-size:1.8em;
}
h2 {
    font-size:1.4em;
}

/* Containers */
body { 
    background: #B4D1E1;
    font-family:Arial;
    font-size:0.8em;
}
#container, footer {
    background: #E6F4FD;
    width:990px;
    margin:0 auto;
    padding:20px;
}
header {
    width:1025px;
    margin:0 auto 0px auto;
}
#container {
    min-height:500px;
    border-radius:5px 5px 0 0;
}

.decorate{
	background-size: cover;	
	width: 990px;
	height:190px;
	background-color: #f9f9f9;
	background-image: url('../image/diabetes-logo.jpg');
	background-repeat: no-repeat;
	float: left;
	
}
footer {
    border-radius:0 0 5px 5px;
    text-align: center;
}
.widget {
    margin-bottom:20px;
}
.widget h2 {
    margin:0 0 10px 0;
    padding:0 5px;
    font-weight:normal;
    border-bottom:1px solid #ddd;
}
.widget .inner {
    margin:0 10px;
}
/* Navigation */
nav {
    float:left;
    font-size: 17px;
    padding-bottom: 3px;
}
nav ul {
    margin:0;
}

nav ul li {
    display:inline-block;
    margin-right:10px;
    padding: 5px 36px;
    background: #fff;
    cursor: pointer;
}

nav ul li:hover{
	background: #555;
  	color: #fff;
}
nav ul li a:hover{
  	color: #fff;
}
nav ul li a {
    text-decoration:none;
}
nav ul li.current {
    font-weight:bold;
}
nav ul li a.last {
    border-right:0;
}
/* ------------------------------
left-content styles
------------------------------ */	
.left-container{
	box-shadow:1px 0px 8px 1px #2b2b2b inset; 
	width: 190px;
	height:190px;
	margin-bottom: 5px;
	background-color: #f9f9f9;
	padding: 10px;
	background-image: url('../image/blank_profile.jpg');
	background-repeat: no-repeat;
	float: left;
}
.left-container img{
	width: 100%;
}
.buttons {
	width: 190px;
	position: static;
	clear:both;
	float: left;
	
}
/* ------------------------------
center-content styles
------------------------------ */	
.center-container {
	margin-left: 300px;                           
	margin-right: 300px;
	border:solid 1px;
	border-color: lightslategray;
	text-align:center;
	width: 350px;
	height: 600px;
}
/* Aside */
aside {
    width:260px;
    float:right;
    border-left:1px dashed #aaa;
    padding-left:15px;
}

/* Footer */
footer {
    border-top:1px dashed #ddd;
    color:#999;
}
/* Misc */
.clear {
    clear:both;
}

/* ------------------------------
table styles
------------------------------ */	
table, th, td {
	border: 1px solid black;
	width:100%;
	text-align:right;
	border:1px solid green;
	padding:9px;
	border:5px solid gray;
	margin:auto;
	border-collapse: collapse;
}
th{	
	background-color:green;
	color:white;
	text-align: center;
}

td{
	text-align: center;
}
.row1{
	background-color:#FFFFCC;
	font-weight: bold;
	color:black;
	text-align: center;
}
.row2 {
	background-color:white;
	color:black;
	text-align: center;
}
.tablestyle{
	width: 100%;
	display:block;
	overflow: auto;
	overflow: scroll;
}
table.record, th.record, td.record tr.record{
	width:50%;
	text-align:left;
	font-weight:bold;
	border:5px solid gray;
	padding:10px;
	margin:auto;
	border-collapse: separate;
}
td.record{
	text-align:left;
}
td.record1{
	text-align:center;
}
textarea.record{
	width: 200px;
	float: left;
	padding: 10px;
	height:100px;
}
.details2{
    width: 125px;
} 
input.details{
	width: 45px;
}
input.detailss{ 
	display: none;
	width: 45px;
}
.detailss1{ 
	display: none;
}
input.details1{
    width: 125px;
}
.jlist{
	overflow: auto;
	overflow: scroll;
}

/* ------------------------------
Styling the button for entering
records.
------------------------------ */
.wrapper{
	margin-top:7%;
   	text-align: center;
}
/* ------------------------------
Styling Statistics Tab
------------------------------ */
#wrapper{
	width: 600px;
	margin: 0 auto;
	min-height: 600px;
	
}
#chart,#form_values {
	width: 559px;
	
}
#chart {
	list-style: none;
	border-left: solid 1px #666;
	border-bottom: solid 1px #666;
	margin-bottom: 20px;
}
#chart li, #chart li span {
	height: 20px;
}
#chart li .percent {
	width: 30px;
	position: absolute;
	top: 0;
	right: -40px;
	text-align: right;
}
#chart li{
	position: relative;
	display: block;
	width: 554px;
	margin: 0 0 5px 5px;
	text-align: left;
}
#chart li .bar {
	width: 0;
}
.red .bar {
	background: red;
}
.blue .bar {
	background: blue;
}
.yellow .bar {
	background: yellow;
}
.orange .bar {
	background: orange;
}
.purple .bar {
	background: purple;
}
.pink .bar {
	background: pink;
}
.green .bar {
	background: green;
}
.indigo .bar {
	background: indigo;
}
.fied{
	padding: 3px;
	width: 50px;
	border: solid 1px #000;
	float: left;
	margin-right: 10px;
	color: #333;
}
#chartContainer{
	width: 400px;
	height: 300px;
	padding: 10px;
	float: left;
}
.symptoms {
	float: center;
	background-image: url('../image/low-sugar.jpg');
	box-shadow:1px 0px 5px 1px #2b2b2b inset; 
	width: 500px;
	height: 347px;
	background-repeat: no-repeat;
	margin-left: 500px;                           
	margin-right: 500px;
}
.moreinfor {
	float: center;
	margin-top:50px;
	background-image: url('../image/diabetes-control-chart.jpg');
	width: 500px;
	height: 347px;
	background-repeat: no-repeat;
	margin-left: 200px;                           
	margin-right: 200px;
}